% include("header", title="FkTwitter")

<main id="homeMain">
  <h1>
    Welcom To Fake Twitter
  </h1>
  <div>
    % for tweet in tweets:
    % if not tweet["image"] :
    <section class="tweet">
      <p class="Tweet_time">{{tweet["iat"]}}</p>
      <p>{{tweet["description"]}} </p>

    </section>

    % else :
    <section class="tweet">
      <p class="Tweet_time">{{tweet["iat"]}}</p>
      <p>{{tweet["description"]}} </p>
      <img src="/image/{{tweet['image']}}" alt="">
    </section>
    % end
    % end
  </div>
</main>


% include("footer")